@import "_var";

nav.nav{
    #check{
        display: none;
    }
    .nav_wrap{
        display: flex;
        padding: 20px 20px 10px 20px;
        &.nav_wrap2{
            padding: 10px 20px 0px 20px
        }
        .logo{
            background-image: url(../img/logo1.svg);
            width:100%;
            height:60px;
            background-position: left;
            background-repeat: no-repeat;
            flex:1;
        &.logo2{
            height:50px;
            z-index: 9998;
        }
        }
        .right{
            flex:2;
            text-align: center;
            div.menu{
                position: relative;
                padding-top: 20px;
                display: inline-block;
                a{
                    display: inline-block;
                    padding: 0 30px;
                    padding-bottom: 20px;
                    &:hover{
                        color:$color1;
                    }
                }
                .menu_ul{
                    position: absolute;
                    z-index: 9;
                    display: none;
                    width: 150px;
                    left: -5px;
                    &::before{
                        content: "";
                        height:30px;
                        width:2px;
                        background-color: $color1;
                        display: block;
                        position: absolute;
                        left: 65px;
                        top:-20px;
                        z-index: -1;  
                    }
                    li{
                        list-style:none;
                        display: block;
                        a{
                        display: block;
                        padding: 15px 6px; 
                        background-color: $color2;
                        }
                        
                    } 
                }
            }
            div.menu:hover .menu_ul{
                display: block;
            }   
        }
    }
}
.nav_mobile{
    display: none;
    position: relative;
    cursor: pointer;
    top: 2px;
    &::after{
        content: '';
        position: absolute;
        top: -8px;
        left: -8px;
        bottom: -3px;
        right: -8px;
    }
   .menu{
      width: 32px;
      display: inline-block;
      vertical-align: bottom;
      position: relative;
    }
   .menu .line{
      width: 100%;
      height: 3px;
      background-color: $color3;
      margin-bottom: 5px;
      border-radius: 3px;
      position: relative;
      transition: transform 0.5s;
    }
}

.fixed{
    width:100%;
    z-index: 9999;
    position: fixed;
    background-color: white;
    // transition-duration: 0.3s;
    // transition-timing-function: ease-out;
}

@media (max-width:992px) {
    .nav_mobile{
        display: block;
        position: absolute;
        right: 50%;
        left: 50%;
        top: 15px;
        // padding: 20px;
        z-index: 9999;
    }
    #check{
        &:not(:checked) + label + .nav_left{
          display: none;
        }
        &:checked + label + .nav_left{
          display: block;
        }
        &:checked + label{
          .line0{
            display: none;
          }
          .menu .line1{
            transform: translateX(0) translateY(0) rotate(45deg) scaleX(1.1);
           }
           .menu .line2{
              transform: translateX(0) translateY(-8px) rotate(-45deg) scaleX(1.1);
            }
           .menu .line_parent{
              position: relative;
              top: 7px;
            }
        }
      }
      nav.nav{
        padding-bottom: 20px;
        position: fixed;
        top: 0;
        z-index: 9999;
        background: white;
        width: 100%;
        .nav_wrap{
            flex-direction: column;
            .right{
                position: fixed;
                left: 0;
                top: 0;
                bottom: 0;
                // padding: 30px;
                background: #f2f2f2;
                /* 用 translate 把選單藏到畫面右邊去 */
                transform: translateX(-100%);
                transition: transform .5s;
                z-index: 9999;
                div.menu{
                    display: block;
                    border-bottom: 1px solid black;
                    padding-top: 0;
                    .menu_ul{
                        display:none !important; 
                    }
                    a{
                        display: inline-block;
                        padding: 20px 16vw;
                    }
                }
                div.menu_top{
                    position: relative;
                    margin-top: 45px;
                &::before{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    background:$color1;
                    position: absolute;
                    top: -50px;
                    left: 0;
                }
                }
            }
            .right2{
                transform: translateX(0%);
            }
        }
    }
}
