@import "_var";

nav.nav{
    .nav_wrap{
        display: flex;
        padding: 20px 20px 10px 20px;
        &.nav_wrap2{
            padding: 10px 20px 0px 20px
        }
        .logo{
            background-image: url(../img/logo1.svg);
            width:100%;
            height:60px;
            background-position: left;
            background-repeat: no-repeat;
            flex:1;
        &.logo2{
            height:50px;
            z-index: 9998;
        }
        }
        .right{
            flex:2;
            text-align: center;
            div.menu{
                position: relative;
                padding-top: 20px;
                display: inline-block;
                a{
                    display: inline-block;
                    padding: 0 30px;
                    padding-bottom: 20px;
                    &:hover{
                        color:$color1;
                    }
                }
                .menu_ul{
                    position: absolute;
                    z-index: 9;
                    display: none;
                    width: 150px;
                    left: -5px;
                    &::before{
                        content: "";
                        height:30px;
                        width:2px;
                        background-color: $color1;
                        display: block;
                        position: absolute;
                        left: 65px;
                        top:-20px;
                        z-index: -1;  
                    }
                    li{
                        list-style:none;
                        display: block;
                        a{
                        display: block;
                        padding: 15px 6px; 
                        background-color: $color2;
                        }
                        
                    } 
                }
            }
            div.menu:hover .menu_ul{
                display: block;
            }   
        }
    }
}
.fixed{
    width:100%;
    z-index: 9999;
    position: fixed;
    background-color: white;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

}


