@import "_var";

nav.nav{
    .nav_wrap{
        display: flex;
        padding: 20px;
        .logo{
            background-image: url(../img/logo1.svg);
            width:100%;
            height:60px;
            background-position: left;
            background-repeat: no-repeat;
            flex:1;
        }
        .right{
            flex:2;
            text-align: center;
            padding-top: 30px;
            div.menu{
                display: inline-block;
                position: relative;
                padding-bottom:20px;
                a{
                    display: inline-block;
                    padding: 0 30px;
                    padding-bottom: 20px;
                    &:hover{
                        color:$color1;
                    }
                }
                .menu_ul{
                    position: absolute;
                    z-index: 9;
                    display: none;
                    &::before{
                        content: "";
                        height:30px;
                        width:2px;
                        background-color: $color1;
                        display: block;
                        position: absolute;
                        right: 60px;
                        top:-20px;
                        z-index: -1;  
                    }
                    li{
                        list-style:none;
                        display: block;
                        a{
                        display: block;
                        padding: 15px 6px; 
                        background-color: $color2;
                        }
                        
                    }
                }
            }
        }
    }
}