.online_four{
    display: flex;
    margin: 0 20px;
    .online_four_wrap{
        margin: 20px 10px;
        flex:1;
        .item_img{
            width: 100%;
            height:200px;
            overflow: hidden;
            a{
                height: 100%;
                width: 100%;
                background-position: center;
                background-size: cover;
                display: block;
            }
        }
        .item_name{
            font-size: 20px;
            font-weight: 600;
            padding-top: 10px;
        }
        .item_item{
            font-size: 14px;
            padding-top: 10px;
        }
        .item_more{
            text-align: center;
            letter-spacing: 2px;
            margin-top: 20px;
            font-size: 14px; 
            a:hover{
                background-color: $color1;
                padding: 5px 20px;
                opacity: 0.8;
                color:white;
                }     
        }
    }
}    

// @media (max-width:992px) {
//     .online_four{
//      flex-direction: column;
//     }
// }

.menu_right{
    .online_four{
        margin: 0 ;
        justify-content: space-around;
        flex-wrap: wrap;
        .online_four_wrap{
        margin: 20px 0;
        flex-basis: 20px;
        flex: 0;
        }
        .item_img{
            width: 350px;
            height: 250px;
        }
        .item_name{
            font-size: 25px;
            letter-spacing: 2px;
        }
        .item_item{
            font-size: 16px;
            line-height: 25px;
            margin-right: 20px;
        }
        .item_more{
            font-size: 18px;
            position: relative;
        &::before{
            content: "";
            width: 125px;
            height: 3px;
            background: #91B493;
            display: block;
            position: absolute;
            top: 7px;
            left: 0;
        }
        &::after{
            content: "";
            width: 100px;
            height: 3px;
            background: #91B493;
            display: block;
            position: absolute;
            top: 7px;
            right: 25px;
        }
        }
        
    }
}
.hover2{
    background-color: $color1;
    padding: 5px 20px;
    opacity: 0.8;
    color:white;
    } 