@import "_var";
@import "_nav";
@import "_footer";

body{
    a{
        text-decoration: none;
        color:black;
    }
}
header{
    .contact_wrap{
        .contact_text{
            text-align: center;
            background: antiquewhite;
            line-height: 30px;
            .contact_text2{
                font-size: 30px;
                letter-spacing: 3px;
                padding: 10px 0;
            }
            span{
                font-size: 14px;
                letter-spacing: 1px;
                a{
                    color: $color1;
                }
            }
            .span_hover:hover{
                color: #82ac84;
            }
        }
    }
}
.contact_main{
    img.img-top{
        width: 100%;
        height: 250px;
    }
    .contact_left{
        display: inline-block;
        float: left;
        padding: 20px;
        .left_wrap{
            width: 200px;
            height: 200px;
            .left-img{
                background-image: url(../img/news1.svg);
                width: 100%;
                height:100%;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .left-text{
                border: 1px solid $color1;
                padding: 10px;
                margin: 5px;
                a{
                    font-weight: 600;
                    color: #7aa57e;
                    letter-spacing: 2px;
                    display: block;
                }
            &:hover{
                color: $color3;
                border-color: black;
                background-color: rgb(241, 241, 241);
            }    
            }
        }
    }
    .contact_right{
        padding-left: 300px;
        width: calc(100% - 100px);  
        font-size: 20px;
        letter-spacing: 3px;
        margin-top: 30px;
        .contact_text{
            div{
                font-size: 16px;
                letter-spacing: 3px;
                padding-top: 10px;
            }
            .text_bold{
                font-size: 40px;
                font-weight: bolder;
                margin: 20px 0;
                line-height: 50px;
                }
        }
        .contact_wrap{
            .from_body{
                background-color: #e5f5e7;
                margin-top: 30px;
                padding: 10px 0;
                .from_top{
                    padding: 15px 30px;
                    border-bottom: 1px solid #FFFFFF;
                    .text1{
                        font-size: 30px;
                        font-weight: bold;
                        display: inline-block;
                        padding-bottom: 10px;
                        color:#436c44;
                    }
                    .text2{
                        font-size: 14px;
                        display: inline-block;

                    }
                }
                .from_main{
                    margin: 20px 150px;
                    .from_main_body{
                    margin: 30px 0;
                    }
                    .label{
                        position: relative;
                        padding-bottom: 20px;
                        display: block;
                        font-size: 15px;
                    &::before{
                        content: "";
                        display: inline-block;
                        border-radius: 100%;
                        width: 5px;
                        height: 5px;
                        background-color: #436c44;
                        margin: 3px; 
                    }
                    }
                    .radiobox{
                        display: inline-block;
                        padding: 0 30px 0 10px;
                        font-size: 16px;
                    }
                    .input{
                    width: 100%;
                    height: 33px;
                    line-height: 33px;
                    border: 0;
                    padding: 0 10px;
                    font-size: 15px;
                    border-radius: 5px;
                    }
                    textarea{
                        width: 100%;
                        height: 100px;
                        line-height: 20px;
                        border: 0;
                        padding:10px;
                        font-size: 15px;
                        border-radius: 5px;
                    }
                }
            }
            .button{
                text-align: center;
                padding: 40px 0;
                div{
                    font-size: 14px;
                    display: inline-block;
                    margin: 0 20px;
                }
                input{
                    width: 200px;
                    height: 40px;
                    background: none;
                    letter-spacing: 3px;
                    border:1px solid $color1;
                    cursor: pointer;

                }
            }
        }
    }
}

@media (max-width:992px) {
    header{
        .contact_wrap{
            margin-top: 50px;
        }
    }
    .contact_main{
        .contact_left{
            display: none;
        }
        .contact_right {
            width: 100%;
            padding: 0 20px;
            .contact_wrap{
                .from_body{
                    .from_main{
                        margin: 20px 30px;
                    }
                }    
            }        
        }    
    }            
    
}