@import "_var";
@import "_nav";
@import "_footer";
@import "_map";

body{
    a{
        text-decoration: none;
        color:black;
    }
}
header{
    .store_wrap{
        .store_text{
            text-align: center;
            background: antiquewhite;
            line-height: 30px;
            .store_text2{
                font-size: 30px;
                letter-spacing: 3px;
                padding: 10px 0;
            }
            span{
                font-size: 14px;
                letter-spacing: 1px;
                a{
                    color: $color1;
                }
            }
            .span_hover:hover{
                color: #82ac84;
            }
        }
    }
}
.store_main{
    img.img-top{
        width: 100%;
        height: 250px;
    }
    .store_left{
        display: inline-block;
        float: left;
        padding: 20px;
        .left_wrap{
            width: 200px;
            height: 200px;
            .left-img{
                background-image: url(../img/news1.svg);
                width: 100%;
                height:100%;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .left-text{
                border: 1px solid $color1;
                padding: 10px;
                margin: 5px;
                a{
                    font-weight: 600;
                    color: #7aa57e;
                    letter-spacing: 2px;
                    display: block;
                }
            &:hover{
                color: $color3;
                border-color: black;
                background-color: rgb(241, 241, 241);
            }    
            }
        }
    }
    .store_right{
        padding-left: 300px;
        padding-top: 30px;
        .search_wrap{
            padding: 60px;
            margin: 50px;
            border: 1px solid $color1;
            border-radius: 10px;
            position: relative;
            text-align: center;
            .icon{
                width: 100px;
                height: 100px;
                background:#e1f0e2;
                border-radius: 100%;
                position: absolute;
                top: -50px;
                left: 42%;
                .icon_img{
                    width: 50px;
                    height: 50px;
                    border: 5px solid #91b493;
                    border-radius: 100%;
                    position: relative;
                    left: 15px;
                    top: 20px;
                &::after{
                    content: "";
                    display: block;
                    width: 5px;
                    height: 25px;
                    background: #91b493;
                    position: absolute;
                    right: -10px;
                    top: 30px;
                    rotate: -45deg;
                }    
                }
                
            }
            .area{
                font-size: 20px;
                letter-spacing: 5px;
                padding: 20px 0;
            }
            .form{
                position: relative;
                .form-control{
                    width: 20vw;
                    height: 45px;
                    border-color:#cce9cd ;
                    border-right: none;
                    padding-left: 10px;
                }
                .btn_wrap{
                    display: inline-block;
                    position: absolute;
                    .btn_search{
                        width: 80px;
                        height: 45px;
                        background: #e1f0e2;
                        border:1px solid #cce9cd;
                        cursor: pointer;
                    }
                }
            }
        }
        .search_map{
            .search_map_wrap{
                display: flex;
                flex-wrap: wrap;
                justify-content:space-evenly;
            }
        }
    }    
}




@media (max-width:992px) {
    header{
        .store_wrap{
            margin-top: 50px;
        }
    }
    .store_main{
        .store_left{
            display: none;
        }
        .store_right{
            padding-left:0;
        }
    }            
}